:root {
  --main-bgc-light: #e5ece9;
  --main-bgc-dark: #343434;
  --bgc-section-light: #f7f7f7;
  --color-contrast-light: #ffab00;
  --color-contrast-dark: #fcdb00;
  --color-primary-light: #515151;
  --color-primary-dark: #f4f4f6;
  --font-family-primary: "Prompt", sans-serif;
}

body {
  background-color: var(--main-bgc-light);
  font-family: var(--font-family-primary);
  color: var(--color-primary-light);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  outline: none;
  text-decoration: none;
}

header {
  width: 100%;
  background-color: var(--main-bgc-light);
  font-size: 1.25rem;
  padding: 20px 0;
  position: fixed;
  z-index: 2;
}

.container {
  width: 994px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.space {
  padding: 50px 0 0 0;
}

.container .logo-header {
  cursor: pointer;
}

#mobile {
  display: none;
}

.menu-links a li {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  background: var(--main-bgc-dark);
  border-radius: 0.8rem;
  color: var(--color-contrast-light);
  font-weight: 500;
  list-style: none;
  display: inline-block;
  padding: 10px 15px;
}

.menu-links a li:hover {
  background-color: var(--color-contrast-light);
  color: var(--main-bgc-dark);
  transition: 0.5s ease-in;
}

#banner {
  width: 100%;
  height: 600px;
  background: url("../../src/assets/banner-2.svg");
  background-size: cover;
  background-origin: border-box;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #1a1a1a;
}

.titulo {
  text-transform: uppercase;
  font-size: 2.4rem;
  text-transform: uppercase;
  margin-right: 70px;
  padding: 50px 0 0 0;
  color: var(--main-bgc-dark);
}

#faq {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  margin-bottom: 1rem;
}

.faq-lista {
  margin-left: 5%;
}

.faq-lista dt {
  font-family: var(--font-family-primary);
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  color: var(--color-contrast-light);
}

.faq-lista dt::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

.faq-lista dd {
  font-family: var(--font-family-primary);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  margin-left: 30px;
}

.faq-lista dd img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

#gallery {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  margin-bottom: 2rem;
}

#gallery p {
  margin: 1rem 5%;
  font-size: 1.4rem;
}

#gallery p::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: 10px;
  background: #fb5;
}

#btn-artists {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

#btn-artists > a {
  background-color: var(--color-contrast-light);
  color: var(--main-bgc-dark);
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  padding: 1.28rem;
  border-radius: 0.8rem;
}

#btn-artists a:hover {
  color: var(--color-contrast-light);
  background-color: var(--main-bgc-dark);
  transition: 0.5s ease-in;
}

#footer {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 10px;
}

#footer h3 {
  font-size: 1.2rem;
}

.container-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-footer::after {
  content: "";
  display: inline-block;
  width: 270px;
  height: 5px;
  margin-top: 10px;
  background: #fb5;
}

.container-footer .social {
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.social .logo-dbr {
  height: 30px;
  width: 50px;
  background-color: #000;
  padding: 5px;
  border-radius: 0.2rem;
  cursor: pointer;
}

.social img {
  height: 40px;
  width: 40px;
  margin: 0.6rem 0.5rem;
  cursor: pointer;
}

.social img:hover {
  transform: scale(1.1);
}

/* animações */

.js-accordion dd {
  display: none;
}

.js-accordion dt::after {
  content: "⤵";
  margin-left: 10px;
}

.js-accordion dt.active::after {
  content: "⤴";
}

.js-accordion dd.active {
  display: block;
  animation: slideDown 0.5s forwards;
}

@keyframes slideDown {
  from {
    opacity: 0;
    max-height: 0;
  }
  to {
    opacity: 1;
    max-height: 100px;
  }
}

.js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: 0.3s;
}

.js-scroll.active {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* responsivo */

@media screen and (max-width: 1280px) {
  #banner {
    width: 100%;
    height: 70vh;
  }
}
@media screen and (max-width: 1162px) {
  #banner {
    width: 100%;
    height: 60vh;
  }
}

@media screen and (max-width: 1062px) {
  .faq {
    margin: 0 8%;
  }
  .faq dd {
    width: 80%;
    margin-bottom: 5vh;
  }
  #gallery .titulo {
    margin: 0 6%;
  }

  #gallery p {
    margin: 3% 6%;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }

  #banner {
    width: 100%;
    height: 50vh;
  }
  .logo-header {
    margin: 0 40px;
  }
  .menu-links {
    margin: 0 40px;
  }
}

@media screen and (max-width: 958px) {
  .faq dd {
    width: 80%;
    margin-bottom: 8vh;
  }
}

@media screen and (max-width: 893px) {
  .faq dt {
    font-size: 1.4rem;
  }
  .faq dd {
    width: 70%;
    margin-bottom: 10vh;
    font-size: 1.2rem;
  }
  #gallery {
    padding-top: 0;
  }
  #gallery p {
    font-size: 1.1rem;
  }
  #footer {
    font-size: 1rem;
  }
  .container-footer::after {
    content: "";
    display: inline-block;
    width: 270px;
    height: 5px;
    margin-top: 10px;
    background: #fb5;
  }

  .container-footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .social .logo-dbr {
    height: 20px;
    width: 40px;
    background-color: #000;
    padding: 5px;
    border-radius: 0.2rem;
    cursor: pointer;
  }

  .social img {
    height: 30px;
    width: 30px;
    margin: 0.6rem 0.5rem;
    cursor: pointer;
  }
  .faq-lista dd img {
    height: 20px;
    width: 20px;
    cursor: pointer;
  }
}

@media screen and (max-width: 825px) {
  header {
    font-size: 1.1rem;
  }
  .menu-links a li {
    letter-spacing: 0.1rem;
  }
  #banner {
    width: 100%;
    height: 40vh;
  }

  #footer {
    margin-top: 100px;
    padding-bottom: 20px;
  }
  #btn-artists > a {
    background-color: var(--color-contrast-light);
    color: var(--main-bgc-dark);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding: 1.28rem;
    border-radius: 0.8rem;
  }
}

@media screen and (max-width: 700px) {
  .faq dt {
    font-size: 1.1rem;
  }
  .faq dd {
    width: 70%;
    margin-bottom: 5vh;
    font-size: 1rem;
  }
  #gallery p {
    font-size: 1rem;
  }
  .titulo {
    font-size: 2rem;
  }
}

@media screen and (max-width: 677px) {
  #banner {
    display: none;
  }

  #mobile {
    display: block;
    cursor: pointer;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    background: var(--main-bgc-dark);
    border-radius: 0.8rem;
    color: var(--color-contrast-light);
    font-weight: 500;
    list-style: none;
  }

  .menu-links ul {
    display: none;
  }

  .menu-links .active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: initial;
    transition: all 1s ease-in-out;
  }

  header {
    background-color: var(--main-bgc-light);
  }

  header.active {
    background-color: var(--main-bgc-dark);
  }
  .link-mobile {
    padding-top: 170px;
  }

  .titulo {
    font-size: 1.8rem;
  }
  #btn-artists > a {
    background-color: var(--color-contrast-light);
    color: var(--main-bgc-dark);
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.2rem;
    padding: 1.2rem;
    border-radius: 0.8rem;
  }
  #footer h3 {
    font-size: 1rem;
  }
  .container-footer::after {
    content: "";
    display: inline-block;
    width: 220px;
    height: 5px;
    margin-top: 10px;
    background: #fb5;
  }

  .container-footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
  }

  .social .logo-dbr {
    height: 10px;
    width: 20px;
    background-color: #000;
    padding: 5px;
    border-radius: 0.2rem;
    cursor: pointer;
  }

  .social img {
    height: 20px;
    width: 20px;
    margin: 0.6rem 0.5rem;
    cursor: pointer;
  }
}
